.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  padding: 0 2rem;
  background: #FFF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10;

  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translateY(0);

  &.visible {
    transform: translateY(0);
  }

  &:not(.visible) {
    transform: translateY(-100%);
  }

  .cartIcon {
    position: relative;
    cursor: pointer;

    .itemsInCart {
      position: absolute;
      top: -0.2rem;
      right: -0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      width: 2.5rem;
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
      color: $white;
      background-color: $green;
      border-radius: 50%;
    }
  }
}
