$buttonHeight: 4rem;
$bigButtonRadius: 2.5rem;

.productItemTall {
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-width: 15rem;
  background-color: $white;

  a {
    display: inline-block;   

    .productImage {
      display: block;
      height: auto;
      width: 100%;
    }

    .popOnHover {
      position: relative;
      transition: transform 0.3s ease;
        
      &:hover {
        transform: scale(1.05);
        z-index: 10;
      }
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    p {
      margin: 0;
    }

    .text {
      padding: 0.3rem 0.5rem 0.8rem 0.5rem;

      .brand {
        font-size: 1.4rem;
        text-transform: uppercase;
      }
      .name {
        margin: 0.4rem 0;
        font-size: 2rem;
        font-weight: 400;
      }
      .price {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  
    .buttonContainer {
      position: relative;
      height: $buttonHeight;
      width: 100%;
      border-radius: $bigButtonRadius;

      .addToCart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: $white;
        background-color: $green;
        border-radius: $bigButtonRadius;
      }

      .editableInput {
        margin: 0;
        padding: 0;
        height: 100%;
        font-weight: 600;
        text-align: center;
        color: $green;
        background-color: #f0ECE9;
        border-radius: $bigButtonRadius;
      }

      $buttonBorder: 3px;
      .addSubtractButton {
        position: absolute;
        top: $buttonBorder;
        display: inline-block;
        height: calc($buttonHeight - ($buttonBorder * 2));
        width: calc($buttonHeight - ($buttonBorder * 2));
        border-radius: $bigButtonRadius;

        &:first-of-type {
          left: $buttonBorder;
          color: $green;
          background-color: $white;
        }
        &:last-of-type {
          right: $buttonBorder;
          color: $white;
          background-color: $green;
        }
      }
    }
  }
}

.productItemWide {
  @extend .productItemTall;
  width: 35rem;
  min-width: 28rem;
  flex-direction: row;

  a .productImage {
    width: 15rem;
  }

  .productInfo {
    position: relative;
    padding: 0.7rem 0.7rem 0 0.7rem;
    box-sizing: border-box;

    .deleteButton {
      position: absolute;
      top: 0.5rem;
      right: 0.6rem;
    }

    .text {
      margin-right: 1.5rem;
      padding: 0;
    }

    .buttonContainer {
      .totalItemPrice {
        position: absolute;
        top: -2.1rem;
        margin: 0;
        font-size: 1.4rem;
      }
    }
  }
}

.largeProductItemWide {
  @extend .productItemWide;
  width: 90%;
  max-width: 100rem;


  a .productImage,
  .productInfo {
    width: 50rem;
    max-width: 100%;
  }

  .productInfo {
    padding: 1.5rem;
    .buttonContainer {
      max-width: 25rem;
      margin-top: 5rem;
    }
  }
}


.outOfStock {
  color: grey;

  a .productImage {
    opacity: 0.5;
  }

  .productInfo .buttonContainer .addToCart {
    background-color: $disabled;
    border-radius: 0;
  }
}


@media only screen and (max-width: $smallScreen) {
  .productItemTall,
  .productItemWide,
  .largeProductItemWide {
    flex-direction: row;
    justify-content: center;
    width: 90%;
    max-width: 90%;

    a .productImage,
    .productInfo {
      width: 20rem;
      max-width: 100%;
    }
  }

  .largeProductItemWide {
    a .productImage,
    .productInfo {
      width: 40rem;
    }
  }
}