// Variables
$maxWidthScreen: 1800px;
$smallScreen: 800px;
$globalMargin: 30px;
$headerHeight: 8.5rem;


// Colors
$black: #191919;
$white: #FFF;
$green: #28C166;
$textColor: #191919;
$greyText: #666;

$disabled: #D8DBE0;
$disabledText: #9FA6B2;

$errorColor: #B00020;
$websiteBackground: #FBFAFA;



// Media Queries
@mixin mq($mqValue...) {
	@if length($mqValue) == 1 {
		@media screen and (max-width: nth($mqValue, 1)) {
			@content;
		}
	}
	@if length($mqValue) == 2 {
		@media screen and (min-width: nth($mqValue, 1)) and (max-width: nth($mqValue, 2)) {
			@content;
		}
	}
	@if length($mqValue) == 3 {
		@media screen and (min-width: nth($mqValue, 3)) {
			@content;
		}
	}
}